@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');

body{
    width: 100%;
    margin:0;
    padding:0;
}

section {
    /* height: 100vh; */
    
}

/* article {
    height: 100%;
    display: flex;
    align-content: center;
    flex-direction: row;
    justify-content: center;
    align-items: center;
} */

.container {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 3fr;
}

.col-gauche{
    background-color: #373737;
    height:100vh;
    width: 100%;
    position: sticky;
    top: 0;
}

.col-gauche img{
    border-radius: 50%;
    display: block;
    margin: 0 auto;
    margin-top: 25px;
}

.col-gauche h1{
    color:#ffffff;
    text-align: center;
    margin-top: 170px;
    font-family: 'Outfit', sans-serif;
}

.col-gauche nav {
    text-align: center;
}

.col-gauche i {
    color:blue;
    font-size:34px;
    margin-left:10px;
    margin-right: 10px;
}

.background-col-droite {
    height: 100vh;
    background: url(../images/image_accueil.jpg);
    background-size: cover;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: center;
    
}

.titre1 {
  text-align: center;
  font-weight: bold;  
  margin: 0;
  font-size: 22px;
  font-family: 'Outfit', sans-serif;
}

.background-col-gauche{

    background-color: lightgray
    
}

.background-col-gauche img{

    border-radius: 10px;
    
}


.arti2 {
    display: flex;
    justify-content: space-around;
    text-align: center;
    font-weight: bold;  
    margin: 0;
    font-family: 'Outfit', sans-serif;
  }

  .bouton-gauche{
      display: flex;
      flex-direction: column;
      width:auto;
  }

  .bouton-droit{
    display: flex;
    flex-direction: column;
    width: auto;
}

.bouton1{
    margin-top:25px;
    margin-bottom:25px;
    background-color: #1a1616;
  color:white;
  text-decoration: none;
  padding:5px 10px;
  border-radius: 10px;
  text-shadow:0 -2px #1a1616;
  transition: all .1s;
  -webkit-transition: all .1s;
  width: 100px;
  margin:0 auto;
  margin-top: 5px;
}

.bouton1:active{
    transform:translate(0, 5px);
    -webkit-transform: translate(0,5px);
    border-bottom: 1px solid; 
}

@media only screen and (max-width : 400px)
{
    #container
    {
        width: auto;
        height: auto;
        width: 100%;
        
        
    }

    .arti2 {
        display: flex;
        flex-direction: column;
        width: auto;
        
        
    }

      .bouton-gauche{
        display: flex;
        flex-direction: column;
        width: 50%;
       
    }
  
    .bouton-droit{
      display: flex;
      flex-direction: column;
      width: 50%;
  }

  .background-col-droite {
    height: 50vh;
    background: url(../images/image_accueil.jpg);
    background-size: cover;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: center;
    text-align: center;
    
}

.col-gauche nav{
    
    display: flex;
        flex-direction: column;
        width: auto;
}

.col-gauche{
    
}

}

 
  

 