@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');




*{
    margin:0;
    padding: 0;
}

html{
    height: auto;
}

.background-col-gauche{
    margin-left: 550px;
}

.background-col-gauche h1{
    font-family: 'Outfit', sans-serif;
    text-align: center;
    font-size: 36px;
}


.col-gauche{
    background-color: black;
    height:100vh;
    width: 30vw;
    position:fixed;
    top: 0
  
    
}
.col-gauche img{

    border-radius: 50%;
    display: block;
    margin: 0 auto;
    width: 130px;
    height: 130px;
    margin-top: 0px;
  
}

.col-gauche h1{
    color:#ffffff;
    text-align: center;
    margin-top: 170px;
    font-family: 'Outfit', sans-serif;
}

.col-gauche i {
    color:blue;
    font-size:34px;
    margin-left:10px;
    margin-right: 10px;
    
}

.col-gauche p {
    text-align: center;
    margin-top:100px;
}

p.arti1{

    font-size: 36px;
    width: 50%;
    margin:0 auto 0 auto;
    font-weight: bold;
    text-align: center;
    
 
}

.background-col-droite {
    
    height: 100vh;
    width: 70vw;
    background:url('../images/image_accueil.jpg')
    center center fixed no-repeat;
    background-size: cover;
    margin-left: 364px;
    //margin-top:344px;
    
    
}

.arti2 {
    display: flex;
    
    
}

